@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&text=0123456789-);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.num-mono {
  font-family: "Roboto Mono", "Roboto";
}

.uk-flex-baseline {
  align-items: baseline !important;
}

.uk-input {
  border: 0px;
}

.input-time-group {
  padding: 0 10px;
}

.uk-text-normal {
  font-weight: normal;
}

.input-time {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  border: 0px;
}

.level .level-label {
  line-height: 25px;
  height: 50px;
}


.uk-card-xsmall .uk-card-body, .uk-card-xsmall.uk-card-body {
  padding: 10px 10px;
}

.uk-margin-small-top {
  margin-top: 5px !important;
}

.uk-text-medium {
  font-size: 1.3rem;
  /*line-height: 1.5;*/
  /*height: 100%;*/
}


button {
  outline: 0px;
  border: 0px;
  /*background: #fff;*/
  cursor: pointer;
}

.btn {
  padding: 5px;
  opacity: 0.5;
  background: none;
}

.btn:hover {
  opacity: 1;
}

* {
  color: #000 !important;
}

#main-timer .uk-text-large {
  font-size: 2.5rem;
}
/*
#main-timer {
  color: #666666;
}

.uk-card-default .uk-card-title {
  color: #666666;
}*/

.uk-card-xsmall.uk-card-body.subject, #main-timer{
  padding: 5px;  
}

.timer {
  /*box-shadow: 0 3px 5px rgba(0,0,0,.1);*/
}

.timer.edit #timer-duration {
  height: 40px;
}

.timer #timer-duration {
  height: 0px;
  overflow: hidden;

  transition: height 0.2s ease;
}

.timer-legends {
  transition: background 0.5s ease;
}

.timer-legend-end-small, .timer-legend {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.75;
}

.timer-legend {
  font-family: 'icomoon', "Roboto Mono", "Roboto" !important;

  display: inline-block;
  border-left: 1px solid black;
  padding-left: 5px;
  height: 100%;
  position: relative;

  /*line-height: 60px;*/
  /*vertical-align: top;*/

  cursor: pointer;
}

.timer-legend-end-large {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 1.2rem;
  font-weight: bolder;
  
  padding-left: 5px;
  padding-top: 18px;
}

.timer-legend-time {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 1.2rem;
  font-weight: bolder;
  
  padding-left: 5px;
  padding-top: 18px;
}

.timer-legend-end-time {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 1.2rem;
  font-weight: bolder;
  
  padding-left: 5px;
  padding-top: 18px;
}


.timer-legend:before {
  font-family: 'icomoon', "Roboto Mono", "Roboto" !important;

  content: attr(data-before);
  position: absolute;
  top: 0;
  right: 0;
  padding-right: var(--tag-padding-right);
  /*height: 100%;*/
  width: 200px;
  text-align: right;

  

  /*line-height: 60px;*/
  /*vertical-align: middle;*/
}

.timer-legend:after {
  font-family: 'icomoon', "Roboto Mono", "Roboto" !important;

  content: attr(data-after);
  position: absolute;
  top: 0;
  right: 0;
  padding-right: var(--tag-padding-right);
  /*height: 100%;*/
  width: 200px;
  
  font-size: 1.2rem;
  font-weight: bolder;

  padding-top: 18px;
  text-align: right;


  /*line-height: 60px;*/
  /*vertical-align: middle;*/
}


.level-label {
  font-weight: bolder;
  color: #787878;
  position: relative;
}

.level-label-end {
  width: 50px;
  padding: 0px 0px 0px 10px;
}

.level-label.uk-text-bold {
  color: #666;
}

.timer-legends {
  height: 50px;
  overflow: hidden;
}

.uk-input:not(input), .uk-select:not(select) {
  line-height: 30px;
}

.levels-card {
  margin-left: 20px;
}

.uk-overlay {
  font-size: 2.5vh;
  padding: 3vh;
}

.btn-group {
  padding: 2vh;
  opacity: 0;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.btn-group:hover {
  opacity: 1;
}

.btn-subject-delete {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.btn-subject-delete:hover {
  opacity: 1;
}

.btn {
  padding: 1vh;
}

.btn svg {
  width: 3vh;
  height: 3vh;
}

.gone {
  display: none;
}

/*@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ujh2cx');
  src:  url('fonts/icomoon.eot?ujh2cx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ujh2cx') format('truetype'),
    url('fonts/icomoon.woff?ujh2cx') format('woff'),
    url('fonts/icomoon.svg?ujh2cx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}*/

